/* normalize.css 2011-09-22T17:42 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
 * HTML5 display definitions
 * ========================================================================== */
/* Corrects block display not defined in IE6/7/8/9 & FF3 */
/* line 10, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* Corrects inline-block display not defined in IE6/7/8/9 & FF3 */
/* line 16, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* Prevents modern browsers from displaying 'audio' without controls */
/* line 24, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
audio:not([controls]), [hidden] {
  display: none;
}

/* Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support */
/* =============================================================================
 * Base
 * ========================================================================== */
/* 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
/* line 42, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
html {
  font-size: 100%;
  /* 1 */
  overflow-y: scroll;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 3 */
}

/* Addresses margins handled incorrectly in IE6/7 */
/* line 55, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
body {
  margin: 0;
  font-family: sans-serif;
}

/* Addresses font-family inconsistency between 'textarea' and other form elements. */
/* line 62, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
button, input, select, textarea {
  font-family: sans-serif;
}

/* =============================================================================
 * Links
 * ========================================================================== */
/* line 69, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
a {
  color: #0000ee;
}
/* line 71, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
a:visited {
  color: #551a8b;
}
/* line 73, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
a:focus {
  outline: thin dotted;
}
/* line 75, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
a:hover, a:active {
  outline: 0;
}

/* Addresses outline displayed oddly in Chrome */
/* Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test */
/* =============================================================================
 * Typography
 * ========================================================================== */
/* Addresses styling not present in IE7/8/9, S5, Chrome */
/* line 92, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* Addresses style set to 'bolder' in FF3/4, S4/5, Chrome */
/* line 98, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
b, strong {
  font-weight: bold;
}

/* line 101, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
blockquote {
  margin: 1em 40px;
}

/* Addresses styling not present in S5, Chrome */
/* line 107, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
dfn {
  font-style: italic;
}

/* Addresses styling not present in IE6/7/8/9 */
/* line 113, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
mark {
  background: yellow;
  color: black;
}

/* Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
/* line 121, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* Improves readability of pre-formatted text in all browsers */
/* line 129, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4 */
/* 1 */
/* line 140, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
q {
  quotes: none;
}
/* line 142, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* 2 */
/* line 148, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
small {
  font-size: 75%;
}

/* Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930 */
/* line 155, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 161, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 168, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
sub {
  bottom: -0.25em;
}

/* =============================================================================
 * Lists
 * ========================================================================== */
/* line 175, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 179, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
dd {
  margin: 0 0 0 40px;
}

/* line 183, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
 * Embedded content
 * ========================================================================== */
/* 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
/* line 196, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/* Corrects overflow displayed oddly in IE9 */
/* line 205, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
 * Figures
 * ========================================================================== */
/* Addresses margin not present in IE6/7/8/9, S5, O11 */
/* line 215, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
figure, form {
  margin: 0;
}

/* =============================================================================
 * Forms
 * ========================================================================== */
/* Corrects margin displayed oddly in IE6/7 */
/* Define consistent border, margin, and padding */
/* line 228, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7 */
/* line 237, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
legend {
  border: 0;
  /* 1 */
  *margin-left: -7px;
  /* 2 */
}

/* 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3/4, S5, Chrome
 * 3. Improves appearance and consistency in all browsers */
/* line 248, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
button, input, select, textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/* Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet */
/* line 261, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
button, input {
  line-height: normal;
  /* 1 */
}

/* 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Corrects inner spacing displayed oddly in IE7 without effecting normal text inputs
 *    Known issue: inner spacing remains in IE6 */
/* line 271, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
button {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/* line 280, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}
/* line 287, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/* line 292, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/* line 299, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* 1. Addresses box sizing set to content-box in IE8/9
 * 2. Addresses excess padding in IE8/9 */
/* 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
/* Corrects inner padding displayed oddly in S5, Chrome on OSX */
/* Corrects inner padding and border displayed oddly in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
/* line 317, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers */
/* line 325, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
 * Tables
 * ========================================================================== */
/* Remove most spacing between table cells */
/* line 338, /home/sch1zo/code/sinatra-template/sass/_normalizer.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 17, /home/sch1zo/.rbenv/versions/1.9.3-rc1/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /home/sch1zo/.rbenv/versions/1.9.3-rc1/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /home/sch1zo/.rbenv/versions/1.9.3-rc1/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /home/sch1zo/.rbenv/versions/1.9.3-rc1/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /home/sch1zo/.rbenv/versions/1.9.3-rc1/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /home/sch1zo/.rbenv/versions/1.9.3-rc1/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /home/sch1zo/.rbenv/versions/1.9.3-rc1/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /home/sch1zo/.rbenv/versions/1.9.3-rc1/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /home/sch1zo/.rbenv/versions/1.9.3-rc1/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, /home/sch1zo/code/sinatra-template/sass/_default.sass */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 22, /home/sch1zo/code/sinatra-template/sass/_default.sass */
.serif, body, h2, h3, h4, h5, h6, h1 {
  font-family: Cambria, Georgia, serif;
}

/* line 25, /home/sch1zo/code/sinatra-template/sass/_default.sass */
.sans {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 28, /home/sch1zo/code/sinatra-template/sass/_default.sass */
.mono, pre, code, tt {
  font-family: "Consolas", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}

/* line 31, /home/sch1zo/code/sinatra-template/sass/_default.sass */
.caps, .allcaps, h1, h2, caption, .smallcaps, h4 {
  letter-spacing: 0.1em;
}

/* line 34, /home/sch1zo/code/sinatra-template/sass/_default.sass */
.allcaps, h1, h2, caption {
  text-transform: uppercase;
}

/* line 38, /home/sch1zo/code/sinatra-template/sass/_default.sass */
.smallcaps, h4 {
  font-variant: small-caps;
}

/* line 44, /home/sch1zo/code/sinatra-template/sass/_default.sass */
body {
  color: #4c4c4c;
  font-size: 16px;
}

/* line 58, /home/sch1zo/code/sinatra-template/sass/_default.sass */
::-moz-selection {
  color: white;
  background: #005498;
  text-shadow: none;
}

/* line 63, /home/sch1zo/code/sinatra-template/sass/_default.sass */
::selection {
  color: white;
  background: #005498;
  text-shadow: none;
}

/* line 71, /home/sch1zo/code/sinatra-template/sass/_default.sass */
a:link, a:visited {
  color: #005498;
}
/* line 73, /home/sch1zo/code/sinatra-template/sass/_default.sass */
a:link, a:visited, a:hover, a:active {
  outline: none;
}
/* line 75, /home/sch1zo/code/sinatra-template/sass/_default.sass */
a:focus, a:hover, a:active {
  color: #984400;
  text-decoration: none;
}
/* line 78, /home/sch1zo/code/sinatra-template/sass/_default.sass */
a:focus {
  outline: thin dotted;
}

/* line 83, /home/sch1zo/code/sinatra-template/sass/_default.sass */
h2, h3, h4, h5, h6 {
  margin-bottom: 1.5em;
}

/* line 87, /home/sch1zo/code/sinatra-template/sass/_default.sass */
h1 {
  font-size: 1.313em;
  line-height: 2.286em;
  margin-bottom: 1.143em;
}

/* line 96, /home/sch1zo/code/sinatra-template/sass/_default.sass */
h3 {
  font-weight: bold;
}

/* line 99, /home/sch1zo/code/sinatra-template/sass/_default.sass */
h4 {
  text-transform: lowercase;
}

/* line 103, /home/sch1zo/code/sinatra-template/sass/_default.sass */
h5, h6 {
  font-style: italic;
}

/* line 108, /home/sch1zo/code/sinatra-template/sass/_default.sass */
cite, em, dfn, address, i {
  font-style: italic;
}

/* line 111, /home/sch1zo/code/sinatra-template/sass/_default.sass */
strong, dfn, b {
  font-weight: bold;
}

/* line 114, /home/sch1zo/code/sinatra-template/sass/_default.sass */
sup, sub {
  font-size: smaller;
  line-height: 0;
}

/* line 118, /home/sch1zo/code/sinatra-template/sass/_default.sass */
sup {
  vertical-align: super;
}

/* line 121, /home/sch1zo/code/sinatra-template/sass/_default.sass */
sub {
  vertical-align: sub;
}

/* line 124, /home/sch1zo/code/sinatra-template/sass/_default.sass */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 128, /home/sch1zo/code/sinatra-template/sass/_default.sass */
ins {
  text-decoration: underline;
}

/* line 131, /home/sch1zo/code/sinatra-template/sass/_default.sass */
del {
  text-decoration: line-through;
}

/* line 134, /home/sch1zo/code/sinatra-template/sass/_default.sass */
mark {
  background: #ffff99;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

/* line 139, /home/sch1zo/code/sinatra-template/sass/_default.sass */
small {
  font-size: 0.75em;
  line-height: 2em;
}

/* line 142, /home/sch1zo/code/sinatra-template/sass/_default.sass */
q {
  font-style: italic;
}
/* line 144, /home/sch1zo/code/sinatra-template/sass/_default.sass */
q em {
  font-style: normal;
}

/* line 152, /home/sch1zo/code/sinatra-template/sass/_default.sass */
p {
  margin-bottom: 1.5em;
}

/* line 155, /home/sch1zo/code/sinatra-template/sass/_default.sass */
pre {
  margin: 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 162, /home/sch1zo/code/sinatra-template/sass/_default.sass */
blockquote {
  margin: 1.5em;
  font-style: italic;
}

/* line 168, /home/sch1zo/code/sinatra-template/sass/_default.sass */
img {
  vertical-align: text-bottom;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/* line 175, /home/sch1zo/code/sinatra-template/sass/_default.sass */
ol, ul, dl {
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}

/* line 179, /home/sch1zo/code/sinatra-template/sass/_default.sass */
ol {
  list-style: decimal;
}

/* line 182, /home/sch1zo/code/sinatra-template/sass/_default.sass */
ul {
  list-style: disc;
}
/* line 184, /home/sch1zo/code/sinatra-template/sass/_default.sass */
li ul {
  list-style-type: circle;
}

/* line 187, /home/sch1zo/code/sinatra-template/sass/_default.sass */
dt {
  margin-top: 1.5em;
  font-style: italic;
}

/* line 191, /home/sch1zo/code/sinatra-template/sass/_default.sass */
dd {
  padding-left: 1.5em;
}

/* line 197, /home/sch1zo/code/sinatra-template/sass/_default.sass */
table {
  margin-bottom: 1.5em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* line 203, /home/sch1zo/code/sinatra-template/sass/_default.sass */
table, td, th {
  vertical-align: top;
}

/* line 206, /home/sch1zo/code/sinatra-template/sass/_default.sass */
th, thead th {
  font-weight: bold;
}

/* line 209, /home/sch1zo/code/sinatra-template/sass/_default.sass */
th, td, caption {
  padding: 0.75em;
  text-align: left;
  font-weight: normal;
}

/* line 214, /home/sch1zo/code/sinatra-template/sass/_default.sass */
table, th {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.688em;
}

/* line 217, /home/sch1zo/code/sinatra-template/sass/_default.sass */
tfoot {
  font-size: 0.875em;
  line-height: 1.714em;
}

/* line 225, /home/sch1zo/code/sinatra-template/sass/_default.sass */
fieldset {
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
}

/* line 229, /home/sch1zo/code/sinatra-template/sass/_default.sass */
legend {
  font-size: 1.125em;
  line-height: 1.333em;
  font-weight: bold;
}

/* line 233, /home/sch1zo/code/sinatra-template/sass/_default.sass */
input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 236, /home/sch1zo/code/sinatra-template/sass/_default.sass */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 239, /home/sch1zo/code/sinatra-template/sass/_default.sass */
label {
  font-weight: bold;
}

/* line 244, /home/sch1zo/code/sinatra-template/sass/_default.sass */
.textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-family: "Consolas", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
  font-size: 0.875em;
  line-height: 1.714em;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  margin-bottom: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
  border-color: #4c4c4c;
  height: 2.571em;
}

/* line 255, /home/sch1zo/code/sinatra-template/sass/_default.sass */
textarea {
  height: 11.143em;
  vertical-align: text-bottom;
}

/* line 266, /home/sch1zo/code/sinatra-template/sass/_default.sass */
input[type=search] {
  -webkit-appearance: none;
}
/* line 268, /home/sch1zo/code/sinatra-template/sass/_default.sass */
input[type=search]::-webkit-search-decoration {
  display: none;
}

/* line 271, /home/sch1zo/code/sinatra-template/sass/_default.sass */
button {
  width: auto;
  overflow: visible;
}

/* Layout ------------------------------------------------------------------ */
/* line 8, ../../../sass/screen.sass */
.container {
  *zoom: 1;
  margin: auto;
  width: 61em;
  max-width: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(1.639%, rgba(0, 0, 0, 0)), color-stop(1.639%, rgba(100, 100, 225, 0.25)), color-stop(8.197%, rgba(100, 100, 225, 0.25)), color-stop(8.197%, rgba(0, 0, 0, 0)), color-stop(9.836%, rgba(0, 0, 0, 0)), color-stop(9.836%, rgba(100, 100, 225, 0.25)), color-stop(16.393%, rgba(100, 100, 225, 0.25)), color-stop(16.393%, rgba(0, 0, 0, 0)), color-stop(18.033%, rgba(0, 0, 0, 0)), color-stop(18.033%, rgba(100, 100, 225, 0.25)), color-stop(24.59%, rgba(100, 100, 225, 0.25)), color-stop(24.59%, rgba(0, 0, 0, 0)), color-stop(26.23%, rgba(0, 0, 0, 0)), color-stop(26.23%, rgba(100, 100, 225, 0.25)), color-stop(32.787%, rgba(100, 100, 225, 0.25)), color-stop(32.787%, rgba(0, 0, 0, 0)), color-stop(34.426%, rgba(0, 0, 0, 0)), color-stop(34.426%, rgba(100, 100, 225, 0.25)), color-stop(40.984%, rgba(100, 100, 225, 0.25)), color-stop(40.984%, rgba(0, 0, 0, 0)), color-stop(42.623%, rgba(0, 0, 0, 0)), color-stop(42.623%, rgba(100, 100, 225, 0.25)), color-stop(49.18%, rgba(100, 100, 225, 0.25)), color-stop(49.18%, rgba(0, 0, 0, 0)), color-stop(50.82%, rgba(0, 0, 0, 0)), color-stop(50.82%, rgba(100, 100, 225, 0.25)), color-stop(57.377%, rgba(100, 100, 225, 0.25)), color-stop(57.377%, rgba(0, 0, 0, 0)), color-stop(59.016%, rgba(0, 0, 0, 0)), color-stop(59.016%, rgba(100, 100, 225, 0.25)), color-stop(65.574%, rgba(100, 100, 225, 0.25)), color-stop(65.574%, rgba(0, 0, 0, 0)), color-stop(67.213%, rgba(0, 0, 0, 0)), color-stop(67.213%, rgba(100, 100, 225, 0.25)), color-stop(73.77%, rgba(100, 100, 225, 0.25)), color-stop(73.77%, rgba(0, 0, 0, 0)), color-stop(75.41%, rgba(0, 0, 0, 0)), color-stop(75.41%, rgba(100, 100, 225, 0.25)), color-stop(81.967%, rgba(100, 100, 225, 0.25)), color-stop(81.967%, rgba(0, 0, 0, 0)), color-stop(83.607%, rgba(0, 0, 0, 0)), color-stop(83.607%, rgba(100, 100, 225, 0.25)), color-stop(90.164%, rgba(100, 100, 225, 0.25)), color-stop(90.164%, rgba(0, 0, 0, 0)), color-stop(91.803%, rgba(0, 0, 0, 0)), color-stop(91.803%, rgba(100, 100, 225, 0.25)), color-stop(98.361%, rgba(100, 100, 225, 0.25)), color-stop(98.361%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 1.639%, rgba(100, 100, 225, 0.25) 1.639%, rgba(100, 100, 225, 0.25) 8.197%, rgba(0, 0, 0, 0) 8.197%, rgba(0, 0, 0, 0) 9.836%, rgba(100, 100, 225, 0.25) 9.836%, rgba(100, 100, 225, 0.25) 16.393%, rgba(0, 0, 0, 0) 16.393%, rgba(0, 0, 0, 0) 18.033%, rgba(100, 100, 225, 0.25) 18.033%, rgba(100, 100, 225, 0.25) 24.59%, rgba(0, 0, 0, 0) 24.59%, rgba(0, 0, 0, 0) 26.23%, rgba(100, 100, 225, 0.25) 26.23%, rgba(100, 100, 225, 0.25) 32.787%, rgba(0, 0, 0, 0) 32.787%, rgba(0, 0, 0, 0) 34.426%, rgba(100, 100, 225, 0.25) 34.426%, rgba(100, 100, 225, 0.25) 40.984%, rgba(0, 0, 0, 0) 40.984%, rgba(0, 0, 0, 0) 42.623%, rgba(100, 100, 225, 0.25) 42.623%, rgba(100, 100, 225, 0.25) 49.18%, rgba(0, 0, 0, 0) 49.18%, rgba(0, 0, 0, 0) 50.82%, rgba(100, 100, 225, 0.25) 50.82%, rgba(100, 100, 225, 0.25) 57.377%, rgba(0, 0, 0, 0) 57.377%, rgba(0, 0, 0, 0) 59.016%, rgba(100, 100, 225, 0.25) 59.016%, rgba(100, 100, 225, 0.25) 65.574%, rgba(0, 0, 0, 0) 65.574%, rgba(0, 0, 0, 0) 67.213%, rgba(100, 100, 225, 0.25) 67.213%, rgba(100, 100, 225, 0.25) 73.77%, rgba(0, 0, 0, 0) 73.77%, rgba(0, 0, 0, 0) 75.41%, rgba(100, 100, 225, 0.25) 75.41%, rgba(100, 100, 225, 0.25) 81.967%, rgba(0, 0, 0, 0) 81.967%, rgba(0, 0, 0, 0) 83.607%, rgba(100, 100, 225, 0.25) 83.607%, rgba(100, 100, 225, 0.25) 90.164%, rgba(0, 0, 0, 0) 90.164%, rgba(0, 0, 0, 0) 91.803%, rgba(100, 100, 225, 0.25) 91.803%, rgba(100, 100, 225, 0.25) 98.361%, rgba(0, 0, 0, 0) 98.361%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 1.639%, rgba(100, 100, 225, 0.25) 1.639%, rgba(100, 100, 225, 0.25) 8.197%, rgba(0, 0, 0, 0) 8.197%, rgba(0, 0, 0, 0) 9.836%, rgba(100, 100, 225, 0.25) 9.836%, rgba(100, 100, 225, 0.25) 16.393%, rgba(0, 0, 0, 0) 16.393%, rgba(0, 0, 0, 0) 18.033%, rgba(100, 100, 225, 0.25) 18.033%, rgba(100, 100, 225, 0.25) 24.59%, rgba(0, 0, 0, 0) 24.59%, rgba(0, 0, 0, 0) 26.23%, rgba(100, 100, 225, 0.25) 26.23%, rgba(100, 100, 225, 0.25) 32.787%, rgba(0, 0, 0, 0) 32.787%, rgba(0, 0, 0, 0) 34.426%, rgba(100, 100, 225, 0.25) 34.426%, rgba(100, 100, 225, 0.25) 40.984%, rgba(0, 0, 0, 0) 40.984%, rgba(0, 0, 0, 0) 42.623%, rgba(100, 100, 225, 0.25) 42.623%, rgba(100, 100, 225, 0.25) 49.18%, rgba(0, 0, 0, 0) 49.18%, rgba(0, 0, 0, 0) 50.82%, rgba(100, 100, 225, 0.25) 50.82%, rgba(100, 100, 225, 0.25) 57.377%, rgba(0, 0, 0, 0) 57.377%, rgba(0, 0, 0, 0) 59.016%, rgba(100, 100, 225, 0.25) 59.016%, rgba(100, 100, 225, 0.25) 65.574%, rgba(0, 0, 0, 0) 65.574%, rgba(0, 0, 0, 0) 67.213%, rgba(100, 100, 225, 0.25) 67.213%, rgba(100, 100, 225, 0.25) 73.77%, rgba(0, 0, 0, 0) 73.77%, rgba(0, 0, 0, 0) 75.41%, rgba(100, 100, 225, 0.25) 75.41%, rgba(100, 100, 225, 0.25) 81.967%, rgba(0, 0, 0, 0) 81.967%, rgba(0, 0, 0, 0) 83.607%, rgba(100, 100, 225, 0.25) 83.607%, rgba(100, 100, 225, 0.25) 90.164%, rgba(0, 0, 0, 0) 90.164%, rgba(0, 0, 0, 0) 91.803%, rgba(100, 100, 225, 0.25) 91.803%, rgba(100, 100, 225, 0.25) 98.361%, rgba(0, 0, 0, 0) 98.361%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 1.639%, rgba(100, 100, 225, 0.25) 1.639%, rgba(100, 100, 225, 0.25) 8.197%, rgba(0, 0, 0, 0) 8.197%, rgba(0, 0, 0, 0) 9.836%, rgba(100, 100, 225, 0.25) 9.836%, rgba(100, 100, 225, 0.25) 16.393%, rgba(0, 0, 0, 0) 16.393%, rgba(0, 0, 0, 0) 18.033%, rgba(100, 100, 225, 0.25) 18.033%, rgba(100, 100, 225, 0.25) 24.59%, rgba(0, 0, 0, 0) 24.59%, rgba(0, 0, 0, 0) 26.23%, rgba(100, 100, 225, 0.25) 26.23%, rgba(100, 100, 225, 0.25) 32.787%, rgba(0, 0, 0, 0) 32.787%, rgba(0, 0, 0, 0) 34.426%, rgba(100, 100, 225, 0.25) 34.426%, rgba(100, 100, 225, 0.25) 40.984%, rgba(0, 0, 0, 0) 40.984%, rgba(0, 0, 0, 0) 42.623%, rgba(100, 100, 225, 0.25) 42.623%, rgba(100, 100, 225, 0.25) 49.18%, rgba(0, 0, 0, 0) 49.18%, rgba(0, 0, 0, 0) 50.82%, rgba(100, 100, 225, 0.25) 50.82%, rgba(100, 100, 225, 0.25) 57.377%, rgba(0, 0, 0, 0) 57.377%, rgba(0, 0, 0, 0) 59.016%, rgba(100, 100, 225, 0.25) 59.016%, rgba(100, 100, 225, 0.25) 65.574%, rgba(0, 0, 0, 0) 65.574%, rgba(0, 0, 0, 0) 67.213%, rgba(100, 100, 225, 0.25) 67.213%, rgba(100, 100, 225, 0.25) 73.77%, rgba(0, 0, 0, 0) 73.77%, rgba(0, 0, 0, 0) 75.41%, rgba(100, 100, 225, 0.25) 75.41%, rgba(100, 100, 225, 0.25) 81.967%, rgba(0, 0, 0, 0) 81.967%, rgba(0, 0, 0, 0) 83.607%, rgba(100, 100, 225, 0.25) 83.607%, rgba(100, 100, 225, 0.25) 90.164%, rgba(0, 0, 0, 0) 90.164%, rgba(0, 0, 0, 0) 91.803%, rgba(100, 100, 225, 0.25) 91.803%, rgba(100, 100, 225, 0.25) 98.361%, rgba(0, 0, 0, 0) 98.361%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 1.639%, rgba(100, 100, 225, 0.25) 1.639%, rgba(100, 100, 225, 0.25) 8.197%, rgba(0, 0, 0, 0) 8.197%, rgba(0, 0, 0, 0) 9.836%, rgba(100, 100, 225, 0.25) 9.836%, rgba(100, 100, 225, 0.25) 16.393%, rgba(0, 0, 0, 0) 16.393%, rgba(0, 0, 0, 0) 18.033%, rgba(100, 100, 225, 0.25) 18.033%, rgba(100, 100, 225, 0.25) 24.59%, rgba(0, 0, 0, 0) 24.59%, rgba(0, 0, 0, 0) 26.23%, rgba(100, 100, 225, 0.25) 26.23%, rgba(100, 100, 225, 0.25) 32.787%, rgba(0, 0, 0, 0) 32.787%, rgba(0, 0, 0, 0) 34.426%, rgba(100, 100, 225, 0.25) 34.426%, rgba(100, 100, 225, 0.25) 40.984%, rgba(0, 0, 0, 0) 40.984%, rgba(0, 0, 0, 0) 42.623%, rgba(100, 100, 225, 0.25) 42.623%, rgba(100, 100, 225, 0.25) 49.18%, rgba(0, 0, 0, 0) 49.18%, rgba(0, 0, 0, 0) 50.82%, rgba(100, 100, 225, 0.25) 50.82%, rgba(100, 100, 225, 0.25) 57.377%, rgba(0, 0, 0, 0) 57.377%, rgba(0, 0, 0, 0) 59.016%, rgba(100, 100, 225, 0.25) 59.016%, rgba(100, 100, 225, 0.25) 65.574%, rgba(0, 0, 0, 0) 65.574%, rgba(0, 0, 0, 0) 67.213%, rgba(100, 100, 225, 0.25) 67.213%, rgba(100, 100, 225, 0.25) 73.77%, rgba(0, 0, 0, 0) 73.77%, rgba(0, 0, 0, 0) 75.41%, rgba(100, 100, 225, 0.25) 75.41%, rgba(100, 100, 225, 0.25) 81.967%, rgba(0, 0, 0, 0) 81.967%, rgba(0, 0, 0, 0) 83.607%, rgba(100, 100, 225, 0.25) 83.607%, rgba(100, 100, 225, 0.25) 90.164%, rgba(0, 0, 0, 0) 90.164%, rgba(0, 0, 0, 0) 91.803%, rgba(100, 100, 225, 0.25) 91.803%, rgba(100, 100, 225, 0.25) 98.361%, rgba(0, 0, 0, 0) 98.361%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 1.639%, rgba(100, 100, 225, 0.25) 1.639%, rgba(100, 100, 225, 0.25) 8.197%, rgba(0, 0, 0, 0) 8.197%, rgba(0, 0, 0, 0) 9.836%, rgba(100, 100, 225, 0.25) 9.836%, rgba(100, 100, 225, 0.25) 16.393%, rgba(0, 0, 0, 0) 16.393%, rgba(0, 0, 0, 0) 18.033%, rgba(100, 100, 225, 0.25) 18.033%, rgba(100, 100, 225, 0.25) 24.59%, rgba(0, 0, 0, 0) 24.59%, rgba(0, 0, 0, 0) 26.23%, rgba(100, 100, 225, 0.25) 26.23%, rgba(100, 100, 225, 0.25) 32.787%, rgba(0, 0, 0, 0) 32.787%, rgba(0, 0, 0, 0) 34.426%, rgba(100, 100, 225, 0.25) 34.426%, rgba(100, 100, 225, 0.25) 40.984%, rgba(0, 0, 0, 0) 40.984%, rgba(0, 0, 0, 0) 42.623%, rgba(100, 100, 225, 0.25) 42.623%, rgba(100, 100, 225, 0.25) 49.18%, rgba(0, 0, 0, 0) 49.18%, rgba(0, 0, 0, 0) 50.82%, rgba(100, 100, 225, 0.25) 50.82%, rgba(100, 100, 225, 0.25) 57.377%, rgba(0, 0, 0, 0) 57.377%, rgba(0, 0, 0, 0) 59.016%, rgba(100, 100, 225, 0.25) 59.016%, rgba(100, 100, 225, 0.25) 65.574%, rgba(0, 0, 0, 0) 65.574%, rgba(0, 0, 0, 0) 67.213%, rgba(100, 100, 225, 0.25) 67.213%, rgba(100, 100, 225, 0.25) 73.77%, rgba(0, 0, 0, 0) 73.77%, rgba(0, 0, 0, 0) 75.41%, rgba(100, 100, 225, 0.25) 75.41%, rgba(100, 100, 225, 0.25) 81.967%, rgba(0, 0, 0, 0) 81.967%, rgba(0, 0, 0, 0) 83.607%, rgba(100, 100, 225, 0.25) 83.607%, rgba(100, 100, 225, 0.25) 90.164%, rgba(0, 0, 0, 0) 90.164%, rgba(0, 0, 0, 0) 91.803%, rgba(100, 100, 225, 0.25) 91.803%, rgba(100, 100, 225, 0.25) 98.361%, rgba(0, 0, 0, 0) 98.361%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
}
/* line 38, /home/sch1zo/.rbenv/versions/1.9.3-rc1/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
